<app-layout>
    <div menu>
        <a routerLink="/system/main">Main</a> |
        <a routerLink="/system/about-us">About us</a> |
        <a routerLink="/system/products">Products</a> |
        <a routerLink="/system/sign-up">SignUp</a> |
        <a routerLink="/system/parent-child">Parent child</a> |
        <a routerLink="/system/template-array">Template array</a> |
        <a routerLink="/system/reactive-sign-up">Reactive signup</a>
    </div>

    <router-outlet content></router-outlet>
</app-layout>