<!-- Kosik: {{cart}}

<app-header></app-header>
<app-main></app-main>
<app-sidebar></app-sidebar>

<div *ngFor="let film of films">
    <app-card [title]="film" (addProduct)="updateCart($event)" ></app-card>
</div> -->


<!-- <a href="http://localhost:4200/main">Main</a> |  
<a href="http://localhost:4200/about-us">About us</a> | 
<a href="http://localhost:4200/products">Products</a>  -->

<!-- <a routerLink="/main">Main</a> |  
<a routerLink="/about-us">About us</a> | 
<a routerLink="/products">Products</a> 


<router-outlet></router-outlet> -->




<app-layout>
    <div menu>
        <a routerLink="/main">Main</a> |
        <a routerLink="/about-us">About us</a> |
        <a routerLink="/products">Products</a>
    </div>

    <router-outlet content></router-outlet>
</app-layout>